h1 {
    color : #38761d;
    font-weight: 700;

}

div#telaInicial div.how-work img{
    max-height: 300px;
    max-width: 200px;
}

div#telaInicial img.arrow{
    max-height: 150px;
    max-width: 75px;
    position: relative;
    top : 30%;
    left : 30%;
}

div#telaInicial p.short-description{
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
}

div#telaInicial h1.section-title{
    margin-top: 10%;
    margin-bottom: 5%;
    width: 100%;
    text-align: center;
    display: block;
}

/*Categoria Estática*/

div#telaInicial div.categoria {
    height: 300px;
    width: 230px;
    border: 1px solid grey;
    margin: 25px;
    display: inline-block;
    border-radius: 12px;
    transition: transform .5s ease;
}

div#telaInicial div.categoria a{
    text-decoration: none;
    color : black;
} 


div#telaInicial div.categoria img.category-img{
    height: 180px;
    width: 228px;
    border-left: 1px solid grey;
    display: block;
    margin-bottom: 20px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}


div#telaInicial div.categoria p.short-description{
    font-size: 14px;
    font-weight: 500;
}


div#telaInicial div.categoria p.anuncio{
    background-color: #ffd966ff;
    color : white;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 300;
    padding:2px 0px;
    text-align: center;
}

/* Categoria quando o usuário passa o mouse*/

div#telaInicial div.categoria:hover {
    transform: scale(1.05);
}


div#telaInicial div.categoria:hover p.short-description{
    font-weight: 700;
}


div#telaInicial div.categoria:hover p.anuncio{
    background-color: #f1c232ff;
    color : white;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
}

