h1 {
    color : #38761d;
    font-weight: 700;

}

div#telaInicial img#description-image{
    margin-left: 140px;
    max-height: 500px;
    max-width: 400px;
}

div#telaInicial div.how-work img{
    max-height: 300px;
    max-width: 200px;
}

div#telaInicial img.arrow{
    max-height: 150px;
    max-width: 75px;
    position: relative;
    top : 30%;
    left : 30%;
}

div#telaInicial p.short-description{
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
}

div#telaInicial h1.section-title{
    margin-top: 10%;
    margin-bottom: 5%;
    width: 100%;
    text-align: center;
    display: block;
}